    <div class="control-icon send-to-roofs">
      <i class="fas fa-angle-up"></i>
    </div>
    <div class="control-icon send-to-tiles">
      <i class="fas fa-th-large"></i>
    </div>
    <div class="control-icon roofs-config">
      <i class="fas fa-cog"></i>
    </div>