<div class="control-icon roof {{#if isRoof}}active{{/if}}">
  <img src="modules/roofs/img/roof.svg" width="36" height="36" title="Send to Roof">
</div>
<div class="control-icon floor {{#unless isRoof}}active{{/unless}}">
  <img src="modules/roofs/img/floor.svg" width="36" height="36" title="Send to Floor">
</div>
<div class="control-icon roofs-config">
  <i class="fas fa-cog"></i>
</div>
<div class="roofs-opacity">
  <div class="vslider-group">
    <input class="vslider" name="gm-opacity" type="range" value="{{gmOpacity}}" min="0" max="1" step="0.1" data-dtype="Number">
    <div class="vslider-label">GM</div>
  </div>
  <div class="vslider-group">
    <input class="vslider" name="pl-opacity" type="range" value="{{plOpacity}}" min="0" max="1" step="0.1" data-dtype="Number">
    <div class="vslider-label">PL</div>
  </div>
</div>